extends layout

block content
  script.
    var socket = io('#{protocol}://#{host}');
    socket.on('news', function (data) {
      socket.emit('my other event', { file: 'data' });
    });
  h1= host
  h2= protocol
  p Welcome to #{host}